* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(43, 179, 205, 1);
    background: rgba(35, 31, 32, 0.00);
}

#tags {
    margin: 0 5px;
}

#tags button {
    border-top: 3px solid rgba(43, 179, 205, 0);
    padding:    0 5px;
    color:      rgba(43, 179, 205, 1);
}

#tags button.visible {
    color:      rgba(246, 224, 248, 1);
}

#tags button.focused {
    border-top: 3px solid rgba(43, 179, 205, 1);
}

#tags button.urgent {
    color:      rgba(213, 0, 127, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
