* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window { 
    margin: 5px; 
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
} 

#input { 
    margin: 5px; 
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 1);
} 
